packages/training/data/raw/**/*.json filter=lfs diff=lfs merge=lfs -text
packages/models/**/model filter=lfs diff=lfs merge=lfs -text
packages/models/**/*.bin filter=lfs diff=lfs merge=lfs -text
packages/models/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
packages/training/output/**/model filter=lfs diff=lfs merge=lfs -text
packages/training/output/**/*.bin filter=lfs diff=lfs merge=lfs -text
packages/training/output/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
packages/training/data/processed/**/*.spacy filter=lfs diff=lfs merge=lfs -text
